
<div>
<span id="sp"  (mouseenter)="toggleDefault()" 
            (mouseleave)="toggleDefault()" >click here (context menu)</span>
             
        <dx-tooltip 
            target="#sp" 
            [(visible)]="defaultVisible">
            <div *dxTemplate="let data = data of 'content'">
             Right click

            </div>
        </dx-tooltip>
</div>
<dx-context-menu 
    [dataSource]="dataSource" 
    [width]="200" 
    target="#sp" 
    
    (onItemClick)="itemClick($event)">
        <div *dxTemplate="let e of 'item'">
            <div>
                <span [ngClass]="e.icon"></span>
                <span *ngIf="e.items" class="dx-icon-spinright"></span> {{e.text}}
            </div>
        </div>
</dx-context-menu>

       