<router-outlet></router-outlet>



<div class="container-fluid">
  <div class="row" style="height: 100vh; max-height: 100vh;">
    <div class="col-md-9">
 <div class="title" style=" margin-top: 9px;padding: 15px;box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
  0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 #266769;">DevExtreme Component</div>   

<div class="tab-content" id="v-pills-tabContent" style="margin:30px;">
  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
    
<app-area-charts></app-area-charts>
  
  </div>
  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
 <app-bar-charts></app-bar-charts>
    </div>
  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
  <app-doughnut-charts></app-doughnut-charts>
  </div>
 <div class="tab-pane fade" id="v-pills-accordio" role="tabpanel" aria-labelledby="v-pills-accordio-tab">
<app-accordion></app-accordion>
  </div>
  <div class="tab-pane fade" id="v-pills-devmenu" role="tabpanel" aria-labelledby="v-pills-devmenu-tab">
<app-dev-menu></app-dev-menu>
  </div>
   <div class="tab-pane fade" id="v-pills-multiview" role="tabpanel" aria-labelledby="v-pills-multiview-tab">
<app-multi-view></app-multi-view>
  </div>
  <div class="tab-pane fade" id="v-pills-devtab" role="tabpanel" aria-labelledby="v-pills-devtab-tab">
<app-devtabs></app-devtabs>
  </div>
   <div class="tab-pane fade" id="v-pills-treeview" role="tabpanel" aria-labelledby="v-pills-treeview-tab">
<app-tree-view></app-tree-view>
  </div>
  <div class="tab-pane fade" id="v-pills-validate" role="tabpanel" aria-labelledby="v-pills-validate-tab">
<app-form-validation></app-form-validation>
  </div>
   <div class="tab-pane fade" id="v-pills-rangselector" role="tabpanel" aria-labelledby="v-pills-rangselector-tab">
<app-range-selector></app-range-selector>
  </div>
  <div class="tab-pane fade" id="v-pills-rangeslider" role="tabpanel" aria-labelledby="v-pills-rangeslider-tab">
<app-range-slider></app-range-slider>
  </div>
  <div class="tab-pane fade" id="v-pills-devcalender" role="tabpanel" aria-labelledby="v-pills-devcalender-tab">
<app-calender></app-calender>
  </div>
  <div class="tab-pane fade" id="v-pills-colorbox" role="tabpanel" aria-labelledby="v-pills-colorbox-tab">
<app-color-box></app-color-box>
  </div>
</div>
</div>
   
    <div class="col-md-3">
<div  style=" padding: 10px;box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 #266769;">
  <a  routerLink="/home" class="title" style="    margin-left: 20px; " >Install DevExreme</a></div>
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" style="border-left: 1px solid #d4c7c7;  margin-top: 30px;">
  
  <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-expanded="true">Area Charts</a>
  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-expanded="true"> Bar Charts</a>
  <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-expanded="true">Doughnut charts</a>
  <a class="nav-link" id="v-pills-accordio-tab" data-toggle="pill" href="#v-pills-accordio" role="tab" aria-controls="v-pills-accordio" aria-expanded="true">Accordion</a>
   <a class="nav-link" id="v-pills-devmenu-tab" data-toggle="pill" href="#v-pills-devmenu" role="tab" aria-controls="v-pills-devmenu" aria-expanded="true">Menu</a>
   <a class="nav-link" id="v-pills-multiview-tab" data-toggle="pill" href="#v-pills-multiview" role="tab" aria-controls="v-pills-multiview" aria-expanded="true">Multiview</a>
    <a class="nav-link" id="v-pills-devtab-tab" data-toggle="pill" href="#v-pills-devtab" role="tab" aria-controls="v-pills-devtab" aria-expanded="true">Devtab</a>
    <a class="nav-link" id="v-pills-treeview-tab" data-toggle="pill" href="#v-pills-treeview" role="tab" aria-controls="v-pills-treeview" aria-expanded="true">treeview</a>
    <a class="nav-link" id="v-pills-validate-tab" data-toggle="pill" href="#v-pills-validate" role="tab" aria-controls="v-pills-validate" aria-expanded="true">validate</a>
      <a class="nav-link" id="v-pills-rangselector-tab" data-toggle="pill" href="#v-pills-rangselector" role="tab" aria-controls="v-pills-rangselector" aria-expanded="true">rangselector</a>
        <a class="nav-link" id="v-pills-rangeslider-tab" data-toggle="pill" href="#v-pills-rangeslider" role="tab" aria-controls="v-pills-rangeslider" aria-expanded="true">rangeslider</a>
         <a class="nav-link" id="v-pills-devcalender-tab" data-toggle="pill" href="#v-pills-devcalender" role="tab" aria-controls="v-pills-devcalender" aria-expanded="true">devcalender</a>
           <a class="nav-link" id="v-pills-colorbox-tab" data-toggle="pill" href="#v-pills-colorbox" role="tab" aria-controls="v-pills-colorbox" aria-expanded="true">colorbox</a>
 


    </div>
  </div>
</div> 
</div>