<router-outlet></router-outlet>



<div class="container-fluid">
  <div class="row" style="height: 100vh; max-height: 100vh;">
    <div class="col-md-9">
 <div class="title" style=" margin-top: 9px;padding: 15px;box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 #266769;">Angular Material 2 Component</div>     
<div class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
    
  <app-sort-tabel></app-sort-tabel>
  
  </div>
  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
    
    </div>
  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
  
  </div>
  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
    
  
  </div>
   <div class="tab-pane fade" id="v-pills-select" role="tabpanel" aria-labelledby="v-pills-select-tab">
    
  </div>
   <div class="tab-pane fade" id="v-pills-date" role="tabpanel" aria-labelledby="v-pills-date-tab">
   
  
  </div>
   <div class="tab-pane fade" id="v-pills-check" role="tabpanel" aria-labelledby="v-pills-check-tab">
  
  </div>
  <div class="tab-pane fade" id="v-pills-input" role="tabpanel" aria-labelledby="v-pills-input-tab">
    
     
  </div>
   <div class="tab-pane fade" id="v-pills-slider" role="tabpanel" aria-labelledby="v-pills-slider-tab">
  
  </div>
  <div class="tab-pane fade" id="v-pills-slide-toggle" role="tabpanel" aria-labelledby="v-pills-slide-toggle-tab">
  
  </div>
   <div class="tab-pane fade" id="v-pills-sidenav" role="tabpanel" aria-labelledby="v-pills-sidenav-tab">

  </div>
   <div class="tab-pane fade" id="v-pills-steper" role="tabpanel" aria-labelledby="v-pills-steper-tab">
   
  </div>
   <div class="tab-pane fade" id="v-pills-expension-panel" role="tabpanel" aria-labelledby="v-pills-expension-panel-tab">
   
  </div>
  <div class="tab-pane fade" id="v-pills-chips" role="tabpanel" aria-labelledby="v-pills-chips-tab">


  </div>
  <div class="tab-pane fade" id="v-pills-progress-bar" role="tabpanel" aria-labelledby="v-pills-progress-bar-tab">

  </div>
   <div class="tab-pane fade" id="v-pills-dialog" role="tabpanel" aria-labelledby="v-pills-dialog-tab">

  </div>
    <div class="tab-pane fade" id="v-pills-tabel" role="tabpanel" aria-labelledby="v-pills-tabel-tab">

  </div>
  <div class="tab-pane fade" id="v-pills-tabel-pagination" role="tabpanel" aria-labelledby="v-pills-tabel-pagination-tab">

  </div>
  <div class="tab-pane fade" id="v-pills-auto-complete" role="tabpanel" aria-labelledby="v-pills-auto-complete-tab">

  </div>
</div>
</div>
   
    <div class="col-md-3">
<div  style=" margin-top: 9px;padding: 15px;box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 #266769;">
  <a  routerLink="/home" class="title" style="    margin-left: 20px; " >Install Angular Material</a></div>
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" style="border-left: 1px solid #d4c7c7;  margin-top: 30px;">
  
  <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-expanded="true">menu,select</a>
  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-expanded="true">button</a>
  <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-expanded="true">Dialog</a>
  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-expanded="true">toolbar ,tooltip</a>
  <a class="nav-link" id="v-pills-select-tab" data-toggle="pill" href="#v-pills-select" role="tab" aria-controls="v-pills-select" aria-expanded="true"></a>
  <a class="nav-link" id="v-pills-date-tab" data-toggle="pill" href="#v-pills-date" role="tab" aria-controls="v-pills-date" aria-expanded="true">snackbar</a>
  <a class="nav-link" id="v-pills-check-tab" data-toggle="pill" href="#v-pills-check" role="tab" aria-controls="v-pills-check" aria-expanded="true">Checkbox-Radio buttons</a>
   <a class="nav-link" id="v-pills-input-tab" data-toggle="pill" href="#v-pills-input" role="tab" aria-controls="v-pills-input" aria-expanded="true">Input , Datepicker</a>
    <a class="nav-link" id="v-pills-slider-tab" data-toggle="pill" href="#v-pills-slider" role="tab" aria-controls="v-pills-slider" aria-expanded="true">Slider</a>
    <a class="nav-link" id="v-pills-slide-toggle-tab" data-toggle="pill" href="#v-pills-slide-toggle" role="tab" aria-controls="v-pills-slide-toggle" aria-expanded="true">slidetoggle</a>
    <a class="nav-link" id="v-pills-sidenav-tab" data-toggle="pill" href="#v-pills-sidenav" role="tab" aria-controls="v-pills-sidenav" aria-expanded="true">sidenav</a>
     <a class="nav-link" id="v-pills-steper-tab" data-toggle="pill" href="#v-pills-steper" role="tab" aria-controls="v-pills-steper" aria-expanded="true">steper and tabs</a>
      <a class="nav-link" id="v-pills-expension-panel-tab" data-toggle="pill" href="#v-pills-expension-panel" role="tab" aria-controls="v-pills-expension-panel" aria-expanded="true">expension-panel</a>
    <a class="nav-link" id="v-pills-chips-tab" data-toggle="pill" href="#v-pills-chips" role="tab" aria-controls="v-pills-chips" aria-expanded="true">chips,list</a>
    <a class="nav-link" id="v-pills-progress-bar-tab" data-toggle="pill" href="#v-pills-progress-bar" role="tab" aria-controls="v-pills-progress-bar" aria-expanded="true">progress-bar</a>
    <a class="nav-link" id="v-pills-dialog-tab" data-toggle="pill" href="#v-pills-dialog" role="tab" aria-controls="v-pills-dialog" aria-expanded="true">tabel with filter</a>
     <a class="nav-link" id="v-pills-tabel-tab" data-toggle="pill" href="#v-pills-tabel" role="tab" aria-controls="v-pills-tabel" aria-expanded="true">tabel with sort header</a>
       <a class="nav-link" id="v-pills-tabel-pagination-tab" data-toggle="pill" href="#v-pills-tabel-pagination" role="tab" aria-controls="v-pills-tabel-pagination" aria-expanded="true">tabel with pagination</a>
        <a class="nav-link" id="v-pills-tabel-auto-complete" data-toggle="pill" href="#v-pills-auto-complete" role="tab" aria-controls="v-pills-auto-complete" aria-expanded="true">auto-complete</a>


    </div>
  </div>
</div> 
</div>