
<div class="row">
    <div style="margin:30px;border: 1px solid #dad4d4;">
<dx-data-grid 
    id="gridContainer"
 [dataSource]="dataSource"
   [allowColumnReordering]="true"
   (onEditingStart)="logEvent('EditingStart')"
 (onInitNewRow)="logEvent('InitNewRow')"
  (onRowInserting)="logEvent('RowInserting')"
   (onRowInserted)="logEvent('RowInserted')"
 (onRowUpdating)="logEvent('RowUpdating')"  
(onRowUpdated)="logEvent('RowUpdated')"  
 (onRowRemoving)="logEvent('RowRemoving')"  
(onRowRemoved)="logEvent('RowRemoved')">  
      
  
  <dxo-paging [pageSize]="5"></dxo-paging>
 <dxo-pager 
        [showPageSizeSelector]="true"
       [allowedPageSizes]="[2, 5, 10]"
        [showInfo]="true">
 </dxo-pager>
 <dxo-editing 
         mode="row"     
       [allowUpdating]="true"    
       [allowDeleting]="true"
        [allowAdding]="true">
  </dxo-editing>
    
   
    
   
 <dxi-column dataField="Prefix" caption="Title" [width]="55">
</dxi-column>
    <dxi-column dataField="FirstName"></dxi-column>
  <dxi-column dataField="LastName"></dxi-column>
 <dxi-column dataField="Position" [width]="130"></dxi-column>
     <dxi-column
        dataField="StateID"
        caption="State"
        [width]="125"> 
        
        <dxo-lookup    
            [dataSource]="states"
                displayExpr="Name"
                valueExpr="ID">
        </dxo-lookup>
    </dxi-column>
   
 <dxi-column
        dataField="BirthDate"
        [width]="125"
      dataType="date">
    </dxi-column>
</dx-data-grid>
<div id="events">
 
   <div>
        <div class="caption">
            Fired events
 </div>
        <dx-button id="clear" text="Clear" (onClick)="clearEvents()"></dx-button>
   </div>
    <ul>
        <li *ngFor="let event of events">{{event}}</li>
    </ul>
</div>




    </div>
</div>