
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div>
      <md-card>
<p class="install-p">
  install Angular material 
</p>
<p>



1-npm install --save 'angular/material @angular/cdk'</p>

<p>2-npm install --save 'angular/animations'</p>

<p>3-import BrowserAnimationsModule from 'angular/platform-browser/animations';</p>

<p>4-'NgModule
  ...
  imports: NoopAnimationsModule',</p>

<p>5-Import the component modules  MdButtonModule, MdCheckboxModule</p>

<p>6-'NgModule
  ...
  imports: MdButtonModule, MdCheckboxModule',
  ...
})</p>

<p>7-Include a theme in style/css    import angular/material/prebuilt-themes/indigo-pink.css</p>
 
<p>8-npm install --save hammerjs   ..this for (md-slide-toggle, md-slider, mdTooltip)</p>
 
<p>9-import 'hammerjs'; in( app.module.ts). just above import BrowserAnimationsModule</p>


<p>10- it is important to import  MdNativeDateModule from '@angular/material for calender ,

import FormsModule, ReactiveFormsModule from 'angular/forms'; for input in datepicker</p>

<p>11- link href= https://fonts.googleapis.com/icon?family=Material+Icons
in html for icon</p>

<p>12- install moment for datepicker.import MdInputModule for datepicker too
</p></md-card>
    </div>
</div>
<div class="col-md-1"></div>
</div>