

<div class="row">
    <div style="margin:30px;border: 1px solid #dad4d4;">

<div id="data-grid-demo">
    <dx-data-grid 
        id="gridContainer"
        [dataSource]="dataSource"
        >
        <dxo-paging [pageSize]="5"></dxo-paging>
 <dxo-pager 
        [showPageSizeSelector]="true"
       [allowedPageSizes]="[2, 5, 10]"
        [showInfo]="true">
 </dxo-pager>
       <!--> <dxo-paging [enabled]="false"></dxo-paging>-->
        <dxo-editing 
            mode="popup"
            [allowUpdating]="true">
            <dxo-popup
                title="Employee Info"
                [showTitle]="true"
                [width]="700"
                [height]="345"
                [position]="{ my: 'top', at: 'top', of: window }"
               >
            </dxo-popup>
        </dxo-editing>
        
        <dxi-column dataField="Prefix" caption="Title" [width]="70"></dxi-column>
        <dxi-column dataField="FirstName"></dxi-column>
        <dxi-column dataField="LastName"></dxi-column>
        <dxi-column
            dataField="BirthDate"
            dataType="date">
        </dxi-column>
        <dxi-column
            dataField="Position"
            [width]="170">
        </dxi-column>
        <dxi-column
            dataField="HireDate"
            dataType="date">
        </dxi-column>
        <dxi-column
            dataField="StateID"
            caption="State"
            [width]="125">
            <dxo-lookup
                [dataSource]="states"
                displayExpr="Name"
                valueExpr="ID">
            </dxo-lookup>
        </dxi-column>
        <dxi-column
            dataField="Address"
            [visible]="false">
        </dxi-column>
    </dx-data-grid>
</div>

    </div></div>