 #popup {
   
}
 #popup ul {
    list-style-type: none;
    text-align: center;
}
 #popup ul li {
    display: inline-block;
    
 
}
 #popup ul li img{
    width: 100px;
}
 .button-info {
    margin: 10px;
}
 .popup p {
    margin-bottom: 10px;
    margin-top: 0;
}

 .form a {
    cursor: pointer;
    white-space: nowrap;
    border-bottom: 1px dashed;
    text-decoration: none;
}
 #link4 {
    border-bottom-style: solid;
}