 .form {
    max-height: 450px;
}
 .form .dx-field-value {
    text-align: right;
}
 .dx-fieldset-header {
    padding: 10px 0;
}
.color-block {
    width: 360px;
    height: 254px;
    background-color: #f05b41;
    position: relative;
}
 .hero-color-box{
    position: absolute;
    right: 0;
    left: 400px;
    top: 110px;
}
 .color-block .superhero{
    position: absolute;
    height: 100%;
    width: 100%;
}
 .hero-block {
    position: relative;
}
 