<!--The content below is only a placeholder and can be replaced.-->


    <div class="row">
        <div class="col-md -2" style="padding-right: 0px; padding-left: 0px;">
           
            <div class="side-menu">
            <p class="angulr-ui"><a href="https://angular.io/resources" >Angualr Ui Library</a></p>
             <div>   <a  class="side-menu-a" routerLink="/material" [routerLinkActive]="['class1', 'class2']" >Angular Material 2</a></div>
            <div><a  class="side-menu-a" routerLink="/devextreme" [routerLinkActive]="['class1', 'class2']">Dev Extreme</a></div>
               <div> <a class="side-menu-a" routerLink="/tabels" [routerLinkActive]="['class1', 'class2']" >Dev Extreme tabels</a></div>
              
            </div>
        </div>

        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>

</div><!--end row-->
