<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">

<p class="title-text" >
ANGULAR UI LIBRARY
</p>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row" style="margin-top:150px">
  <div class="col-md-2"></div>
  <div class="col-md-3">

<span >
  <span class="btn instal-btn" (click)="openDialog()">
  
  <i class="material-icons" >get_app</i>
  <p style="font-size: 14px;
    color: #266769;
    font-weight: 700;     margin-bottom: 0px; margin-top:8px;">Angular Material</p>
  <p style="font-size: 14px;
    color: #266769;
    font-weight: 700;    margin-bottom: 7px;" > Read Installation Docs</p>
</span>
</span>
</div>
 <div class="col-md-3">

<span >
  <span class="btn instal-btn" (click)="openDialog()">
  
  <i class="material-icons" >get_app</i>
  <p style="font-size: 14px;
    color: #266769;
    font-weight: 700;     margin-bottom: 0px; margin-top:8px;"> Ng-Bootstrap</p>
  <p style="font-size: 14px;
    color: #266769;
    font-weight: 700;    margin-bottom: 7px;" > Read Installation Docs</p>
</span>
</span>
</div>
 <div class="col-md-3">

<span >
  <span class="btn instal-btn" (click)="openDialog()">
  
  <i class="material-icons" >get_app</i>
  <p style="font-size: 14px;
    color: #266769;
    font-weight: 700;     margin-bottom: 0px; margin-top:8px;">Ngx-Bootstrap</p>
  <p style="font-size: 14px;
    color: #266769;
    font-weight: 700;    margin-bottom: 7px;" > Read Installation Docs</p>
</span>
</span>
</div>
<div class="col-md-1"></div>
</div>