 #data-grid-demo {
  
}
 
 #gridContainer {
    padding-top: 45px;
}
 #gridDeleteSelected {
    position: absolute;
    z-index: 1;
    right: 43px;
    margin: 1px;
    
}
.options {
    padding: 20px;
    margin-top: 20px;
    background-color: #f5f5f5;
}
.caption {
    font-size: 18px;
    font-weight: 500;
}
 .option {
    margin-top: 10px;
}