






<div id="toast">
    <h4>Product List</h4>
    <ul>
        <li *ngFor="let product of products">
           
            <div id="name">{{product.name}}</div>
            <dx-check-box 
                text="Available" 
                (onValueChanged)="checkAvailable($event, product)">
            </dx-check-box>
        </li>
    </ul>

  
</div>
<div>
 <h4>Progress bar</h4>
<div class="form">
   
    <div class="progress-info" style="padding-top:20px;">
        Time left {{second | time}}
    </div>
    <dx-progress-bar #progressBar
        id="progress-bar-status"
         width="90%"
        [class.complete]="progressBar.value == maxValue"
        [min]="0"
        [max]="maxValue"
        [statusFormat]="format"
        [value]="maxValue - seconds">
    </dx-progress-bar>
     <dx-button 
        id="progress-button"
        [(text)]="buttonText"
        (onClick)="onButtonClick()"
        style="margin-top:20px;"
        [width]="200">
    </dx-button>
</div>
</div>