
 
<div class="container-fluid">
  <div class="row" style="height: 100vh; max-height: 100vh;">
    <div class="col-md-9">
 <div class="title" style=" margin-top: 9px;padding: 15px;box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
  0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 #266769;">DevExtreme Component</div>   



<div class="tab-content" id="pills-tabContent" style="    margin-top: 30px;">
  <div class="tab-pane fade show active" id="pills-home6" role="tabpanel" aria-labelledby="pills-home6-tab">
   <app-grouping-tabel></app-grouping-tabel>
  </div>
  <div class="tab-pane fade" id="pills-select4" role="tabpanel" aria-labelledby="pills-select4-tab">
  <app-apperance></app-apperance>
  </div>
  <div class="tab-pane fade" id="pills-profile5" role="tabpanel" aria-labelledby="pills-profile5-tab">

   <app-filtring></app-filtring>
   </div>
    <div class="tab-pane fade" id="pills-columns" role="tabpanel" aria-labelledby="pills-columns-tab">

 <app-right-left-tabel></app-right-left-tabel>
   </div>
    <div class="tab-pane fade" id="pills-details" role="tabpanel" aria-labelledby="pills-details-tab">
<app-master-detail-tabel></app-master-detail-tabel>

   </div>
  <div class="tab-pane fade" id="pills-dropdown1" role="tabpanel" aria-labelledby="pills-dropdown1-tab">
     <app-sort-tabel></app-sort-tabel></div>
  <div class="tab-pane fade" id="pills-dropdown2" role="tabpanel" aria-labelledby="pills-dropdown2-tab">
   <app-bath-editing></app-bath-editing></div>
    <div class="tab-pane fade" id="pills-dropdown3" role="tabpanel" aria-labelledby="pills-dropdown3-tab">
<app-cell-editing></app-cell-editing>
   </div>
   <div class="tab-pane fade" id="pills-dropdown4" role="tabpanel" aria-labelledby="pills-dropdown4-tab">
<app-datavalidation-editing></app-datavalidation-editing>
   </div>
   <div class="tab-pane fade" id="pills-dropdown5" role="tabpanel" aria-labelledby="pills-dropdown5-tab">
<app-form-editing></app-form-editing>
   </div>
   <div class="tab-pane fade" id="pills-dropdown6" role="tabpanel" aria-labelledby="pills-dropdown6-tab">
<app-popup-editing></app-popup-editing>
   </div>
   <div class="tab-pane fade" id="pills-dropdown7" role="tabpanel" aria-labelledby="pills-dropdown7-tab">
<app-cascading-editing></app-cascading-editing>
   </div>
    <div class="tab-pane fade" id="pills-dropdown8" role="tabpanel" aria-labelledby="pills-dropdown8-tab">
 <app-columns></app-columns>
   </div>
    <div class="tab-pane fade" id="pills-dropdown9" role="tabpanel" aria-labelledby="pills-dropdown9-tab">
<app-multi-row-header></app-multi-row-header>
   </div>
   <div class="tab-pane fade" id="pills-dropdown10" role="tabpanel" aria-labelledby="pills-dropdown10-tab">
<app-column-resize></app-column-resize>
   </div>
</div>
    </div>

<div class="col-md-3">
   <div  style=" margin-top: 10px; padding: 14px; box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 #266769;">
  <a  routerLink="/home" class="title" style="    margin-left: 20px; " >Install DevExreme</a></div>
 <div class="nav nav-pills mb-3" style="  margin-top: 30px;display: block; " id="pills-tab" role="tablist">
  <div class="nav-item">
    <a class="nav-link active" id="pills-home6-tab" data-toggle="pill" href="#pills-home6" role="tab" aria-controls="pills-home6" aria-expanded="true">Record grouping</a>
  </div>
  <div class="nav-item">
    <a class="nav-link " id="pills-select4-tab" data-toggle="pill" href="#pills-select4" role="tab" aria-controls="pills-select4" aria-expanded="true">Apperance</a>
  </div>
  <div class="nav-item">
    <a class="nav-link" id="pills-profile5-tab" data-toggle="pill" href="#pills-profile5" role="tab" aria-controls="pills-profile5" aria-expanded="true">Filtering</a>
  </div>
  <div class="nav-item">
    <a class="nav-link" id="pills-details-tab" data-toggle="pill" href="#pills-details" role="tab" aria-controls="pills-details" aria-expanded="true">Master-Details</a>
  </div>
   <div class="nav-item">
    <a class="nav-link" id="pills-columns-tab" data-toggle="pill" href="#pills-columns" role="tab" aria-controls="pills-columns" aria-expanded="true">rtltabel</a>
  </div>
  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Editing</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" id="pills-dropdown1-tab" href="#pills-dropdown1" role="tab" data-toggle="pill" aria-controls="pills-dropdown1">  Row-Editing</a>
      <a class="dropdown-item" id="pills-dropdown2-tab" href="#pills-dropdown2" role="tab" data-toggle="pill" aria-controls="pills-dropdown2">Bath-Editing</a>
      <a class="dropdown-item" id="pills-dropdown3-tab" href="#pills-dropdown3" role="tab" data-toggle="pill" aria-controls="pills-dropdown3">Cell-Editing</a>
        <a class="dropdown-item" id="pills-dropdown4-tab" href="#pills-dropdown4" role="tab" data-toggle="pill" aria-controls="pills-dropdown4">Datavalidating-Editing</a>
          <a class="dropdown-item" id="pills-dropdown5-tab" href="#pills-dropdown5" role="tab" data-toggle="pill" aria-controls="pills-dropdown5">form-editing</a>   
        <a class="dropdown-item" id="pills-dropdown6-tab" href="#pills-dropdown6" role="tab" data-toggle="pill" aria-controls="pills-dropdown6">Popup-Editing</a>   
        <a class="dropdown-item" id="pills-dropdown7-tab" href="#pills-dropdown7" role="tab" data-toggle="pill" aria-controls="pills-dropdown7">Cascading-Editing</a>   
          
    </div>
  </div>
 <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">column</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" id="pills-dropdown8-tab" href="#pills-dropdown8" role="tab" data-toggle="pill" aria-controls="pills-dropdown8">  customization</a>
      <a class="dropdown-item" id="pills-dropdown9-tab" href="#pills-dropdown9" role="tab" data-toggle="pill" aria-controls="pills-dropdown9">Multi-row Headers</a>
       <a class="dropdown-item" id="pills-dropdown10-tab" href="#pills-dropdown10" role="tab" data-toggle="pill" aria-controls="pills-dropdown10">Columns Resizing</a>
     
          
    </div>
  </div>

</div>
</div>
  </div>
</div>