 #simple-treeview, #product-details {
    display: inline-block;
}
 #product-details {
    vertical-align: top;
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

 #product-details > .name {
    text-align: center;
    font-size: 20px;
}
 #product-details > .price {
    text-align: center;
    font-size: 24px;
}
 .dark #product-details > div {
    color: #f0f0f0;
}
 .hidden {
    visibility: hidden;
}