<div class="row">
<div class="col-md-4">
<div class="form">
    <dx-tree-view
        id="simple-treeview"
        [items]="products"
        dataStructure="plain"
        parentIdExpr="categoryId"
        keyExpr="ID"
        displayExpr="name"
        [width]="200"
        (onItemClick)="selectItem($event)"
    ></dx-tree-view>
   
</div>
</div>
<div class="col-md-4">
 <div id="product-details" *ngIf="currentItem.price">
       
        <div class="name">{{currentItem.name}}</div>
        <div class="price">{{"$" + currentItem.price}}</div>
    </div>
</div>
</div>


